doctype
html
  head
    title Twilio User Preferences | #{title}
    link(rel='stylesheet', href='/css/libs/bootswatch3.flatly.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript' src="/js/lib/jquery-2.1.4.min.js")
    script(type="text/javascript" src="/js/lib/bootstrap.3.3.6.min.js")
    script(type="text/javascript" src="/js/script.js")
    block scripts
  body
    div(class="navbar navbar-default navbar-fixed-left")
      div(class="container" style="color:#ffffff")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
        div(class="collapse navbar-collapse")
          ul(class="nav navbar-nav")
            //li
              a(href="/") API Docs
            li
              a(href="/profiles") User Profiles
    div.container
      block content
    div.footer
