doctype
html
  head
    title Notification Preferences
    link(rel='stylesheet', href='/css/libs/bootswatch3.flatly.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript' src="/js/lib/jquery-2.1.4.min.js")
    script(type="text/javascript" src="/js/lib/bootstrap.3.3.6.min.js")
    script(type="text/javascript" src="/js/script.js")
    block scripts
  body
    div.container
      block content
    div.footer
